/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, input {
    padding: 8px;
    margin-left: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

p {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

strong {
    color: #4caf50;
} */
body {
    font-family: "Comfortaa", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-height: 80vh; /* Limiting the container height to 80% of the viewport height */
    overflow-y: auto; /* Adding a vertical scrollbar when content overflows */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

/* Styling for the custom dropdown */
select.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white; /* Update dropdown background color to white */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '\25BC'; /* Downward arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select.custom-select:hover {
    background: white;/* Remove hover styles if you want */
}

button {
    padding: 10px;
    background-color: #00acc1; /* Scuba Blue */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #007c91; /* Darker Scuba Blue */
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

select, input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: "Comfortaa", Arial, sans-serif; /* Update font */
}
/* ... rest of the styles remain unchanged */
#result {
    margin-top: 20px;
}

/* Updated styles for the search results */
p {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

strong {
    color: #00acc1; /* Scuba Blue */
}